@import '../../css/brand/ColorVariables.less';

.common {
    background-color: @white;
    color: @deep-teal;
    opacity: 0.9;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;

    &:hover {
        opacity: 1;
    }
}
